body {
    font-family: Arial, sans-serif;
    
}

.widget_1{
    background-color: #464545;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.widget_2{
    background-color: #464545;;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.header{
    height: 80px;
    grid-area: header;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    
}

.main {
    grid-area: main;
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
}

.footer{
    height: 60px;
    grid-area: footer;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 24px;
}

.page-layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 200px ;
    grid-template-rows: 80px 1fr 60px;
    gap: 15px;
    height: 600px;
    font-size: 24px;
}